*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
  color: #b5b5b6;text-decoration: none;
}
.content{
  position: fixed;
  overflow: scroll;
  top:56px;
  bottom: 55px;
  left: 0;
  right: 0;
}